<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Hello World</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Hello World</h1>
	<!-- th:value て書くとcontrollerに値を渡せる -->
	<form method="post" action="/hello">
		好きな文字を入力：<input type="text" name="text1" th:value="${text1_value}" />
		<input type="submit" value="クリック" />
	</form>
	<form method="post" action="/helloDB">
		従業員IDを入力：<input type="number" name="text1" th:value="${text1_value}" />
		<input type="submit" value="クリック" />
	</form>
</body>
</html>